#div_id_username {
    padding-top: 273px;
    padding-bottom: 31px;
    padding-left: 215px;
    text-align: left;
  }

#div_id_password {
    padding-bottom: 62px;
    padding-left: 215px;
    text-align: left;
}